body {
  background-color: white;
  margin: 0;
  padding: 0;
}

section {
  padding: 7% 15%;
}

/* Section Colors */
.about {
  font-size: 25px;
  background-color: #7fcd91;
  padding-top: 30px;
}

#skills #contact {
  background-color: #f5eaea;
  text-align: center;
}

#projects {
  background-color: #5b5656;
  padding: 7% 10%;
}

/* Navigation */
.nav-item {
  padding-right: 20px;
}

/* Im Ricky */
.imRicky {
  text-align: center;
  padding-top: 100px;
}

h1 {
  padding-bottom: 20px;
}

h2,h3 {
  text-align: center;
  padding:2rem 0;
}

/* Skills */
hr {
  width: 50%;
  border-style: dotted none none;
  border-width: 10px;
}

img {
  height: 100px;
  width: 100px;
}

.morePadding {
  padding: 40px 0;
}

.align-image {
  text-align: center;
  padding-top: 2rem;
}

/* Projects */
.boxet {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 350px;
  background-color: pink;
}

/* Contact */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-block {
  text-align: center;
}

input {
  margin-bottom: 1rem;
}

.git-icon {
  font-size: 5rem;
  color: #7fcd91;
}
.git-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
textarea{
  width: 70%;
}
